/*------------------------GENERAL---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.TipoLetra {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    font-size: 14px;
    letter-spacing: 0.4px;
}

body {
    font-size: 14px;
    letter-spacing: 0.4px;
    background-color: #f7f7f7;
}

footer {
    background-color: white;
}

/*------------Primera Cabecera de la pagina----------------*/

.Cabecera-menu {
    border-top: 3px solid #2A871D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cabecera-top {
    padding-left: 26px;
    padding-right: 100px;
    list-style-type: none;
    color: #2A871D;
}

.Menu-top {
    display: flex;
    list-style-type: none;
}

.Menu-top-item {
    padding: 14px;
    border-right: 0.5px solid #efefef;
    border-left: 0.5px solid #efefef;
}

.Menu-top-item-inicio {
    padding: 14px;
    border-right: 0.5px solid #efefef;
}

.Menu-top-item-final {
    padding: 14px;
    border-left: 0.5px solid #efefef;
}

.Menu-top-redes {
    display: flex;
    margin-right: 35px;
}

/*la razon por la que son imagenes los iconos es por que en mi pc no me salen los iconos qnq*/
.Menu-top-item-Imagen img {
    background-color: #f2f7f4;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
    height: 12px;
}

/*------------segunda Cabecera (movible) de la pagina----------------*/

.Cabecera-bottom {
    border-top: 0.5px solid #efefef;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 100 100 100 black;
}

.Cabecera-Imagen img {
    padding-left: 12px;
    height: 75px;
    object-fit: cover;
}

.Cabecera-de-busqueda {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 50px;
}

.Cabecera-de-busqueda-item {
    padding: 10px 20px;
}

.Cabecera-de-busqueda-item-imagen img {
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    height: 15px;
    object-fit: cover;
    max-width: 50px;
}

/*-----------BODY------------*/

.Primer-Carucel img {
    background-color: white;
    width: auto;
    padding-bottom: 20px;
    height: 68vh;
}

.Estadisticas {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.Flexbox {
    display: flex;
    justify-content: center;
}

.Flexbox-Imagen-Principal img {
    height: 70px;
}

.Flexbox-Imagen img {
    display: flex;
    height: 50px;
}
/*---------FALTA AJUSTAR*/
.Historial-Noticias {
    display: flex;
}

.Nuestro-Canal {
    display: flex;
}
/*---------FALTA AJUSTAR*/
.Segundo-Carucel {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    margin-top: 200px;
}

.Segundo-Carucel-Imagen img {
    height: 85px;
    width: 100%;
}

.Redes-Footer {
    display: flex;
    padding-left: 20px;
    gap: 10px;
    padding-bottom: 20px;
}

.Redes-Footer-Imagen img {
    padding-top: 5px;
    border-radius: 5px;
    height: 20px;
    margin: 0 3px;
}

#facebook {
    background-color: #3b5998;
    padding: 5px 7px;
    border-radius: 3px;
}

#twitter {
    background-color: #3b5998;
    padding: 5px 7px;
    border-radius: 3px;
}

#youtobe {
    background-color: #3b5998;
    padding: 5px 7px;
    border-radius: 3px;
}

#instagram {
    background-color: #3b5998;
    padding: 5px 7px;
    border-radius: 3px;
}

#whatsapp {
    background-color: #3b5998;
    padding: 5px 7px;
    border-radius: 3px;
}

#mail {
    background-color: #3b5998;
    padding: 5px 7px;
    border-radius: 3px;
}

/*------------footer------------*/

.Informacion-del-footer img {
    margin-top: 120px;
    border-top: 3px solid #d1d1d1;
}

.Informacion-Final {
    border-top: 0.5px solid black;
    padding: 10px 0px;
    text-align: center;
    font-size: 13px;
}