/*------------------------GENERAL---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.TipoLetra {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    font-size: 14px;
    letter-spacing: 0.4px;
}

body {
    font-size: 14px;
    letter-spacing: 0.4px;
    background-color: #f7f7f7;
}

footer {
    background-color: white;
}

/*------------Primera Cabecera de la pagina----------------*/

.Cabecera-menu {
    border-top: 3px solid #2A871D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cabecera-top {
    padding-left: 26px;
    padding-right: 100px;
    list-style-type: none;
    color: #2A871D;
}

.Menu-top {
    display: flex;
    list-style-type: none;
}

.Menu-top-item {
    padding: 14px;
    border-right: 0.5px solid #efefef;
    border-left: 0.5px solid #efefef;
}

.Menu-top-item-inicio {
    padding: 14px;
    border-right: 0.5px solid #efefef;
}

.Menu-top-item-final {
    padding: 14px;
    border-left: 0.5px solid #efefef;
}

.Menu-top-redes {
    display: flex;
    margin-right: 35px;
}

/*la razon por la que son imagenes los iconos es por que en mi pc no me salen los iconos qnq*/
.Menu-top-item-Imagen img {
    background-color: #f2f7f4;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
    height: 12px;
}

/*------------segunda Cabecera (movible) de la pagina----------------*/

.Cabecera-bottom {
    border-top: 0.5px solid #efefef;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
}

.Cabecera-Imagen img {
    padding-left: 12px;
    height: 75px;
    object-fit: cover;
}

.Cabecera-de-busqueda {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 50px;
}

.Cabecera-de-busqueda-item {
    padding: 10px 20px;
}

.Cabecera-de-busqueda-item-imagen img {
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    height: 15px;
    object-fit: cover;
    max-width: 50px;
}

/*-----------BODY------------*/

.Primer-Carucel {
    background-color: white;
    padding-bottom: 5px;
}

.Primer-Carucel-Imagen img {
    width: 100%;
    height: 69vh;
    object-fit: cover;
}

.Estadisticas {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    text-align: center;
    font-size: 19px;
}

.Estadisticas-Imagen img {
    height: 110px;
}

/*---------FALTA AJUSTAR*/
.Flexbox {

    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Flexbox-Imagen-Texto {
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    padding: 1px;
    font-size: 15px;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

.Flexbox-Imagen-Texto-2 {
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    padding: 1px;
    font-size: 15px;
    position: absolute;
    justify-content: space-around;
}

.Flexbox-Imagen-Principal {
    flex: 2;
    position: relative;
    display: inline-block;
}

.Flexbox-Imagen-Principal img {
    width: 115vh;
    height: 400px;
    object-fit: cover;
}

.Flexbox-Imagen-Segundarios {
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: 40px;
}

.Flexbox-Imagen-Segundarios-Item {
    flex: 1;
    position: relative;
    display: inline-block;
}

.Flexbox-Imagen-Segundarios-Item img {
    width: 55.5vh;
    height: 100%;
}

/*---------FALTA AJUSTAR*/

.Historial-Noticias {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.Historial-Noticias-Imagen img {
    height: 45vh;
    width: 35vh;
    padding: 0 50px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.Primer-Estereo {
    padding-bottom: 40px;
}

.Primer-Estereo img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.Canal {
    padding-left: 20px;
    font-size: 40px;
    padding-top: 1px;
    padding-bottom: 20px;
}

.Nuestro-Canal {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    padding: 0 30px;
}

.Nuestro-Canal-Imagen img {
    height: 23vh;
    width: 42vh;
}

.Segundo-Estereo {
    background-color: white;
    padding-top: 30px;
}

.Segundo-Estereo img {
    width: 100%;
}

.Segundo-Carucel {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    margin-top: 200px;
}

.Segundo-Carucel-Imagen img {
    height: 85px;
    width: 100%;
}

.Redes-Footer {
    display: flex;
    padding-left: 20px;
    gap: 10px;
    padding-bottom: 20px;
}

.Redes-Footer-Imagen img {
    padding-top: 5px;
    border-radius: 5px;
    height: 20px;
    margin: 0 3px;
}

#facebook {
    background-color: #3b5998;
    padding: 5px 7px;
    border-radius: 3px;
}

#twitter {
    background-color: #55acee;
    padding: 5px 7px;
    border-radius: 3px;
}

#youtobe {
    background-color: #cd201f;
    padding: 5px 7px;
    border-radius: 3px;
}

#instagram {
    background-color: #3f729b;
    padding: 5px 7px;
    border-radius: 3px;
}

#whatsapp {
    background-color: #77e878;
    padding: 5px 7px;
    border-radius: 3px;
}

#mail {
    background-color: black;
    padding: 5px 7px;
    border-radius: 3px;
}

/*------------footer------------*/

.Informacion-del-footer-contenedor {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.Informacion-del-footer {
    position: relative;
    display: inline-block;
    width: 100%;
}

.Informacion-del-footer img {
    margin-top: 120px;
    border-top: 1px solid #d1d1d1;
    width: 100%;
    height: 32vh;
    object-fit: cover;
}

.Informacion-Final {
    border-top: 0.5px solid black;
    padding: 10px 0px;
    text-align: center;
    font-size: 13px;
}