
/*------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

.Cabecera-menu {
    border-top: 3px solid #348829;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.Cabecera-top{
    padding-left: 40px;
    padding-right: 40px;
    list-style-type: none;
    color: #348829;
}

.Menu-top{
    display: flex;
    list-style-type: none;
}

.Menu-top-redes{    
    display: flex;
}

.Menu-top-item{
    padding: 10px;
    border-right: 0.5px solid #c1c1c1;
    border-left: 0.5px solid #c1c1c1;
}

.Menu-top-item-inicio{  
    padding: 10px;
    border-right: 0.5px solid #c1c1c1;
}

.Menu-top-item-final{
    padding: 10px;
    border-left: 0.5px solid #c1c1c1;
}

.Cabecera-bottom{
    border-top: 0.5px solid #c1c1c1;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.Cabecera-de-busqueda{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
}

img{
    padding-left: 40px;
    padding-right: 40px;
    height: 50%;
}

.Cabecera-de-busqueda-item{
    padding: 0px 10px;
}